<header>
  <h1>
    Welcome to Shine User: <%= current_user.email %>
  </h1>
  <h2>Were using Rails version <%= Rails.version %></h2>
  <section>
    <p>Future Home of Shines Dashboard </p>
  </section>
</header>
